nav img
{
	border-radius:50%;
	width:5em;
	height:5em;
}

nav ul li
{
	display: flex;
	float: right;
	padding: 1em;
	list-style-type: none;
}

a
{
	font-weight: bold;
	font-size: 20px;
	color: black;
}

a:hover
{
	color: blue;
	cursor:pointer;
}

nav ul li a
{
	margin-top: -5em;
}

.button
{
	float: right;
	margin-top: -1.5em;
	margin-right: -30em;
}

.body-div1
{
	padding-left: 2em;
	font-weight: bold;
}

.body-div1:hover
{
	color: orangered;
	cursor: pointer;
}

body
{
	background-image: url("../assets/blog-cover.jpg");
	background-repeat: no repeat;
	background-size: 1366px 825px;
}